.venv/
__pycache__/
*.pyc
.env
node_modules/
media/
analysis/work/
analysis/stems/
render/out/
render/node_modules/
render/fonts/*.ttf
render/fonts/*.otf
*.ttf
*.otf
inputs/*.png
inputs/*.MOV
inputs/*.mov
